In [3]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [5]:
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("2. Query all tasks")
    select_all_tasks(conn)

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [6]:
def Question10(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query10 = """
    select Facility, sum(cost) 
    from(SELECT m.firstname, m.surname , f.name as Facility, CASE WHEN m.memid = 0 
        THEN f.guestcost * b.slots ELSE f.membercost * b.slots END AS cost
        FROM Members m
        LEFT JOIN Bookings b ON m.memid = b.memid
        INNER JOIN Facilities f ON f.facid = b.facid
        where 1=1) as bob
    GROUP BY Facility
    HAVING sum( cost ) <1000

    """
    cur.execute(query10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("3. Query all tasks")
    Question10(conn)

2.6.0
3. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [7]:
def Question11(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query11 = """
    select CONCAT(m.surname, m.firstname), CONCAT(tim.surname,tim.firstname)
    from (select surname, firstname, recommendedby from Members where recommendedby > 0) as tim
    join Members m on m.memid = tim.recommendedby
    where m.memid in (select recommendedby from Members where recommendedby > 0)

    """
    cur.execute(query11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
database = "..sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("11. Query all tasks")
    Question11(conn)

2.6.0
11. Query all tasks

OperationalError: no such function: CONCAT