In [1]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [2]:
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("2. Query all tasks")
    select_all_tasks(conn)

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [3]:
def Question10(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query10 = """
    select Facility, sum(cost) 
    from(SELECT m.firstname, m.surname , f.name as Facility, CASE WHEN m.memid = 0 
        THEN f.guestcost * b.slots ELSE f.membercost * b.slots END AS cost
        FROM Members m
        LEFT JOIN Bookings b ON m.memid = b.memid
        INNER JOIN Facilities f ON f.facid = b.facid
        where 1=1) as bob
    GROUP BY Facility
    HAVING sum( cost ) <1000

    """
    cur.execute(query10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("10. Query all tasks")
    Question10(conn)

2.6.0
10. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [5]:
def Question11(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query11 = """
    select tim.surname, tim.firstname, (m.surname ||' '|| m.firstname) AS Referral
    from (select surname, firstname, recommendedby from Members where recommendedby > 0) as tim
    join Members m on m.memid = tim.recommendedby
    where m.memid in (select recommendedby from Members where recommendedby > 0)
    order by tim.surname, tim.firstname

    """
    cur.execute(query11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("11. Query all tasks")
    Question11(conn)

2.6.0
11. Query all tasks
('Bader', 'Florence', 'Stibbons Ponder')
('Baker', 'Anne', 'Stibbons Ponder')
('Baker', 'Timothy', 'Farrell Jemima')
('Boothe', 'Tim', 'Rownam Tim')
('Butters', 'Gerald', 'Smith Darren')
('Coplin', 'Joan', 'Baker Timothy')
('Crumpet', 'Erica', 'Smith Tracy')
('Dare', 'Nancy', 'Joplette Janice')
('Genting', 'Matthew', 'Butters Gerald')
('Hunt', 'John', 'Purview Millicent')
('Jones', 'David', 'Joplette Janice')
('Jones', 'Douglas', 'Jones David')
('Joplette', 'Janice', 'Smith Darren')
('Mackenzie', 'Anna', 'Smith Darren')
('Owen', 'Charles', 'Smith Darren')
('Pinker', 'David', 'Farrell Jemima')
('Purview', 'Millicent', 'Smith Tracy')
('Rumney', 'Henrietta', 'Genting Matthew')
('Sarwin', 'Ramnaresh', 'Bader Florence')
('Smith', 'Jack', 'Smith Darren')
('Stibbons', 'Ponder', 'Tracy Burton')
('Worthington-Smyth', 'Henry', 'Smith Tracy')

/* Q12: Find the facilities with their usage by member, but not guests */

In [6]:
def Question12(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query12 = """
    SELECT f.name, count(f.name )
    FROM Members m
    JOIN Bookings b ON m.memid = b.memid
    JOIN Facilities f ON f.facid = b.facid
    WHERE b.memid !=0
    GROUP BY f.name
    LIMIT 0 , 30

    """
    cur.execute(query12)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("12. Query all tasks")
    Question12(conn)

2.6.0
12. Query all tasks
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

/* Q13: Find the facilities usage by month, but not guests */

In [7]:
def Question13(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query13 = """
    select f.name, strftime('%m',b.starttime) , count(f.name) 
    from Bookings b JOIN Facilities f ON f.facid = b.facid
    where b.memid != 0
    group by b.facid, strftime('%m',b.starttime)
    
    """
    cur.execute(query13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
database = "..\sqlite\db\sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("13. Query all tasks")
    Question13(conn)

2.6.0
13. Query all tasks
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)