Task numbering 
1 - data masaaging and showing data 

2 - correlation testing and dropping correlated data 

3 - convert to dummy 

4 - Train data/ fit data / scale 


5 - export scaled and fit data

In [1]:
#Task 1.0  import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from  sklearn import preprocessing

In [2]:
#Task 1.1  import csv file
UsedVehicle=pd.read_csv(r'.\Data\UsedCarData\clean_vehicles.csv')

In [3]:
#Task 1.2  

UsedVehicle.head(10)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,description,state,lat,long,posting_date,posting_date2
0,auburn,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,...,unknown,unknown,pickup,white,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-04T12:31:18-0500,2021-05-04
1,auburn,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,...,unknown,unknown,pickup,blue,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-04T12:31:08-0500,2021-05-04
2,auburn,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,...,unknown,unknown,pickup,red,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-04T12:31:25-0500,2021-05-04
3,auburn,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,...,unknown,unknown,pickup,red,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-04T10:41:31-0500,2021-05-04
4,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,...,rwd,full-size,truck,black,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,32.5920,-85.518900,2021-05-03T14:02:03-0500,2021-05-03
5,auburn,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,...,4wd,unknown,pickup,black,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-03T13:41:25-0500,2021-05-03
6,auburn,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,...,4wd,unknown,pickup,silver,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-03T12:41:33-0500,2021-05-03
7,auburn,35000,2019.0,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,...,4wd,unknown,truck,grey,Selling my 2019 Toyota Tacoma TRD Off Road Dou...,al,32.6013,-85.443974,2021-05-03T12:12:59-0500,2021-05-03
8,auburn,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,...,4wd,unknown,pickup,red,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-03T11:31:14-0500,2021-05-03
9,auburn,38590,2011.0,chevrolet,corvette grand sport,good,8 cylinders,gas,30237.0,clean,...,rwd,unknown,other,red,Carvana is the safer way to buy a car During t...,al,32.5900,-85.480000,2021-05-03T07:50:35-0500,2021-05-03

In [4]:
#Task 1.3
UsedVehicle.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'VIN',
       'drive', 'size', 'type', 'paint_color', 'description', 'state', 'lat',
       'long', 'posting_date', 'posting_date2'],
      dtype='object')

In [6]:
#Task 1.5

UsedVehicle.describe()

              price           year      odometer            lat           long
count  4.161490e+05  416149.000000  4.161490e+05  416149.000000  416149.000000
mean   6.158955e+04    2011.365749  9.766435e+04      38.504563     -94.620544
std    1.108080e+07       9.140825  2.046903e+05       5.792041      18.202327
min    0.000000e+00    1900.000000  0.000000e+00     -84.122245    -159.827728
25%    5.995000e+03    2008.000000  3.800000e+04      34.760000    -111.706944
50%    1.399100e+04    2014.000000  8.568200e+04      39.081944     -88.811252
75%    2.650000e+04    2017.000000  1.335030e+05      42.350000     -81.027303
max    3.736929e+09    2022.000000  1.000000e+07      82.252826     173.885502

In [7]:
#Task 1.6 converting values in the column in this cell to be a more managable numbers.  Using Log1p function.  
# log1p is used instead of log because there is a column AMT_ANNUITY with value of 0

num_features=['price','odometer']

for feature in num_features:
    UsedVehicle[feature]=np.log1p(UsedVehicle[feature])

In [8]:
#Task 1.6
UsedVehicle.describe()

,price,year,odometer,lat,long
count,416149.000000,416149.000000,416149.000000,416149.000000,416149.000000
mean,8.732425,2011.365749,10.938864,38.504563,-94.620544
std,2.712483,9.140825,1.621054,5.792041,18.202327
min,0.000000,1900.000000,0.000000,-84.122245,-159.827728
25%,8.698848,2008.000000,10.545368,34.760000,-111.706944
50%,9.546241,2014.000000,11.358410,39.081944,-88.811252
75%,10.184938,2017.000000,11.801887,42.350000,-81.027303
max,22.041530,2022.000000,16.118096,82.252826,173.885502

In [9]:
UsedVehicle.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,description,state,lat,long,posting_date,posting_date2
0,auburn,10.422013,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,10.966887,clean,...,unknown,unknown,pickup,white,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T12:31:18-0500,2021-05-04
1,auburn,10.025307,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,11.173669,clean,...,unknown,unknown,pickup,blue,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T12:31:08-0500,2021-05-04
2,auburn,10.586357,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,9.860632,clean,...,unknown,unknown,pickup,red,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T12:31:25-0500,2021-05-04
3,auburn,10.341452,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,10.624371,clean,...,unknown,unknown,pickup,red,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T10:41:31-0500,2021-05-04
4,auburn,9.615872,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,11.759793,clean,...,rwd,full-size,truck,black,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,32.592,-85.5189,2021-05-03T14:02:03-0500,2021-05-03

In [10]:
# Task 2.0.0
# with the following function we can select highly correlated features
# it will identify so I can remove the first feature that is correlated with anything other feature

def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    #corr_matrix = dataset.corr()
    df= dataset.drop(columns='price')
    #df= dataset.drop(colums= 'Late_Payments')#doing this step above to 
    df_corr= df.corr()
    for i in range(len(df_corr.columns)):
        for j in range(i):
            if abs(df_corr.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = df_corr.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [11]:
#Task 2.1.1
corr_features = correlation(UsedVehicle , 0.7)#coefficent corelated if 70%, 
                                        #if i adjust threshold i can control how many feature to drop. 

len(set(corr_features))

0

In [12]:
#Task 2.1.2
# after doing a
corr_features

set()

In [13]:
#Task 3
#unable run too big

dummy=pd.get_dummies(UsedVehicle)

MemoryError: Unable to allocate 11.3 GiB for an array with shape (416149, 29236) and data type uint8

In [ ]:
#Task 3.1
dummy.shape

In [ ]:
#Task 3.2
dummy

In [ ]:
#Task 3.3
X=dummy.drop(columns='Price')
y=dummy['LATE_PAYMENT']

X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=dummy['LATE_PAYMENT'], test_size=0.25)
#remove train and split and data and will be placed into end of features